.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;

}
.navbar{
  width:100% !important;
  background-color: rgba(0,0,0,0.7) !important;
  position: fixed;
}
.rater{
  margin-right: 200px !important;
}
.mr-auto{
  display: flex !important;
  flex-direction: row !important;
  align-items:center !important;
  font-size: large !important;
}
.title-detail{
  color: blue;
}
.detail{
  width:600px;
  height: 450px;
  background-color: rgba(0,0,0,0.8);
  border: 2px ridge white;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content:space-around;;
  margin-top: 50px;
}